<h1>All Questions</h1>

<% @questions.each do |question|%>
  <p><%= question.title %></p><br>
  <p><%= question.content %></p>
<% end %>


<h2>Create a new question</h2>
<%= form_for :question, url: questions_path do |f| %>
  <p>
    <%= f.label :title %>
    <%= f.text_field :title, :placeholder => "title" %>
  </p><br>

  <p>
    <%= f.label :content %>
    <%= f.text_field :content, :placeholder => "content" %>
  </p>

  <p>
  <%= f.submit "Create" %>
  </p>
<% end %>