<h1>All Questions</h1>


<% @questions.each do |question|%>
  <div>
    <table>
    <tr>
      <td><h4><%= question.title %></h4></td>
<!--       <td><p><%= question.content %></p></td> -->
      <td><%= link_to 'Show', question_path(question) %></td>
      <td><%= link_to 'Edit', edit_question_path(question) %></td>
    </tr>
  </table>
  </div>
<% end %>


<h3>Create a new question</h3>
<%= form_for :question, url: questions_path do |f| %>
  <div>
    <p>
      <%= f.label :title %>
      <%= f.text_field :title, :placeholder => "title" %>
    </p>

    <p>
      <%= f.label :content %>
      <%= f.text_field :content, :placeholder => "content" %>
    </p>

    <p>
    <%= f.submit "Create" %>
    </p>

  </div>

<% end %>