<h2>Question: <%= @question.title %></h2>
<h3><%= @question.content %></h3>

<% if @question.answers %>
  <h3>Answers:</h3>
  <% @question.answers.each do |answer| %>
    <div>
      <p><%= answer.content %></p>
    <div>
  <% end %>
<% else %>
  <h2>This question has not been answered.</h2>
<% end %>

<div>
<h2>Answer this question:</h2>
<%= form_for( [@question, @question.answers.build] ) do |f| %>
  <p>
    <%= f.label :content %>
    <%= f.text_area :content, :placeholder => "content" %>
  </p>

  <p>
  <%= f.submit "Submit Answer" %>
  </p>
<% end %>
</div>