<%= link_to 'Back to home', questions_path %> |
<%= link_to 'Edit this question', edit_question_path(@question) %> |
<%= link_to 'Delete this question', question_path(@question),
                                    method: :delete,
                                    data: { confirm: 'Are you sure you want to delete?' } %>

<h2>Question: <%= @question.title %></h2>
<h3><%= @question.content %></h3>

<% if @question.answers.count > 0 %>
  <h3>Answers:</h3>
  <% @question.answers.each do |answer| %>
    <div>
      <p><%= answer.content %></p>
    <div>
  <% end %>
<% else %>
  <h2>This question has not been answered.</h2>
<% end %>

<div>
  <% if @question.answers.count > 0 %>
    <h2>Answer this question:</h2>
  <% else %>
    <h2>Be the first to answer this question!</h2>
  <% end %>

    <%= form_for( [@question, @question.answers.build] ) do |f| %>
      <p>
        <%= f.label :content %>
        <%= f.text_area :content, :placeholder => "content" %>
      </p>

      <p>
      <%= f.submit "Submit Answer" %>
      </p>
    <% end %>
</div>